@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body {
    font-family: Roboto, sans-serif;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 100px);
    grid-template-areas: "header header header header"
    "aside main main main" ;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;

    grid-area: header;
}

.perfil {
    border-radius: 50%;
}

header nav {
    display: flex;
    align-items: center;
    gap: 20px;
}


aside.container {
    width: 240px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
} 


main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    padding: 20px;

    grid-area: main;
}